*{
    margin: 0%;
    padding: 0%;

}

body{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

section{
    display: flex;
    justify-content: center;
    font-family: sans-serif;

}

.card{
    height: 410px;
    width: 260px;
     /* color: rgb(0, 0, 0);  */
    background-color: rgb(207, 207, 207);
    border-radius: 7px;
    box-shadow: 12px 6px 8px black;

}

.card button{
    margin: 25px ;
    padding: 6px 22px;
    width: 120px;
    border-radius: 11px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 102, 255);
    transition: .5s;
    
}

.card button:hover{
    background-color: black;
}

.card li{
    font-size: 14px;


}

.card a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.card li{
    list-style: none;
}



