*{
    margin: 0%;
    

}

body{
    margin-right: 380px;
    margin-left: 380px;
    margin-top: 80px;
    text-align: center;
    border: 1.5px rgb(131, 131, 131) dashed;
    background-color: transparent;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(8px);
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    border-radius: 5px;
    background-image: url(https://images.unsplash.com/photo-1764649841485-82d7bd92760a?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    color: white;
}
form{
    display: flex;
    flex-direction: column;
    

}

button{
    color: aliceblue;
    background-color: black;
    transition: .5s;
    padding: 5px;
    border-radius: 15px;
}

button:hover{
    background-color: gray;


}

input{
    border-radius: 15px;
    transition: .2s;
    padding: 5px;

}

input:hover{
    background-color: gray;

}